body {
    background-color: white;
    color: black;
    font-family: Arial, Verdana, sans-serif;
    margin: 5em auto;
    width: 60%;
}

h1, h2, h3 {
    color: #7ec5cb;
}

a {
    color: #cb644a;
}

a img {
    border: none;
}
